@model Capstone.Models.DoctorViewModel
@{
    ViewData["Title"] = "RegisterPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="custom-text-light">Register A Patient</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterPatient">
            @Html.Hidden("DoctorId")
            @Html.Hidden("DoctorBuildingPK")
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientAge" class="control-label custom-text-light"></label>
                <input asp-for="PatientAge" class="form-control" />
                <span asp-validation-for="PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientGender" class="control-label custom-text-light"></label>
                <input asp-for="PatientGender" class="form-control" />
                <span asp-validation-for="PatientGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientRace" class="control-label custom-text-light"></label>
                <input asp-for="PatientRace" class="form-control" />
                <span asp-validation-for="PatientRace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientConditionOne" class="control-label custom-text-light"></label>
                <input asp-for="PatientConditionOne" class="form-control" />
                <span asp-validation-for="PatientConditionOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientConditionTwo" class="control-label custom-text-light"></label>
                <input asp-for="PatientConditionTwo" class="form-control" />
                <span asp-validation-for="PatientConditionTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientConditionThree" class="control-label custom-text-light"></label>
                <input asp-for="PatientConditionThree" class="form-control" />
                <span asp-validation-for="PatientConditionThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientSymptomOne" class="control-label custom-text-light"></label>
                <input asp-for="PatientSymptomOne" class="form-control" />
                <span asp-validation-for="PatientSymptomOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientSymptomTwo" class="control-label custom-text-light"></label>
                <input asp-for="PatientSymptomTwo" class="form-control" />
                <span asp-validation-for="PatientSymptomTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientSymptomThree" class="control-label custom-text-light"></label>
                <input asp-for="PatientSymptomThree" class="form-control" />
                <span asp-validation-for="PatientSymptomThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

